@import '../common';
$navbar-bg: #f9f9f9;

.navbar {
  max-height: 8.6%;
  background-color: $navbar-bg;
  color: $red;
  // to separate the two items in the header 
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  // to vertically center all content inside child divs
  & > div {
    display: flex;
    align-items: center;
  }

  .back {
    cursor: pointer;
    margin-left: 5%;
    img {
      height: 30px;
    }
  }

  .logo {
    & > * {
      display: inline-block;
    }
    img {
      height: 50px;
      margin-left: 10px;
    }
    h1 {
      font-size: 15px;
    }
  }

}
