$green: #70c38c;

.notification {
  p {
    background-color: $green;
    padding-right: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0;
    & > * {
      display: inline-block;
    }
    img {
      margin-left: 4px; 
      height: 18px;
    }
  }
}
