@import url('//fonts.googleapis.com/earlyaccess/droidarabickufi.css');

$primaryColor:   #20d2bb;
$bgColor:        #fff;
$red:            #ff512f;
$grey:           #f2f2f2;



body {
  direction: rtl;
  height: 100%;
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
  font: 62.5% 'Droid Arabic Kufi', sans-serif !important;
}

