@import '../../common/common';

.grade {
  font-size: 14px;

  &, .select{
    width: 100%;
  }

  // select simulator
  .select {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: $grey;
    align-items: center;

    p {
      padding-right: 10px;
    }

    .arrow-down {
      display: flex;
      background-color: $red;
      justify-content: center;
      width: 50px;
      height: 50px;
      align-items: center;
      img {
        height: 20px;
      }
    }

  }
  // to simulate the action of the the select element
  // the ul needs a container that 
  .grades-container {
    position: absolute;
    width: 100%;
    padding: 0 34px;
    box-sizing: border-box;
    margin-right: -34px;
    // if the user clicks outside that should close the select
    // that is implemented by having the container take over the whole
    // viewport and when they click anywhere while the showGrades is true
    // it would change it to false and hide the options
    height: 100%;
    margin-top: -168px;
    padding-top: 168px;
    .grades {
      border: 1px solid $grey;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      .item {
        background-color: #fff;
        display: flex;
        height: 50px;
        align-items: center;
        padding-right: 10px;
        border-bottom: 1px solid $grey;
        cursor: pointer;
        &:hover {
          background-color: $grey;
        }
      }
    }
  }
}
