@import '../../common/common'; 
.gpclass {
  @include list-item;
  color: $purple;
  &.dark {
    background-color: $grey;
  }
  &.light {
    background-color: $light-grey;
  }
  &.disabled label{
    color: #aaa;
    cursor: not-allowed;
  }
  label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include checkbox;
  }
}